@import "./_variable";

body {
  background-color: #a7a4ce;
}

.todo-form__todo {
  display: flex;
  align-items: center;
}

button {
  all: unset;
  color: red;
}

.todo-box {
  display: flex;
  align-items: center;
}

.percentage-box {
  margin-left: 50px;
}
