.main {
  width: 100%;
}

.chart-form-box {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  .form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    span {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
    }
    form {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      gap: 5px;
      padding: 5px;
      & > input {
        all: unset;
        width: 20%;
        justify-self: end;
        border-radius: 9999px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      div {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 30px;
        gap: 5px;
        input {
          width: 100%;
          padding: 0 10px;
          font-size: 16px;
          border: 1px solid black;
          border-radius: 9999px;
          @media (max-width: 500px) {
            font-size: 12px;
          }
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 30px;
          border-radius: 50%;
          border: 1px solid black;
        }

        & > *:disabled {
          text-decoration: line-through;
        }
        & > * {
          border: none;
          cursor: pointer;
          transition: all 0.7s;
          background-color: white;
          color: black;
          &:hover,
          &:focus {
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
            z-index: 1;
          }
          &:focus:not(button) {
            cursor: text;
            z-index: 1;
          }
        }
      }
    }
  }
}
