doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="Nailed-it")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="/static/css/styles.css")
        link(rel="apple-touch-icon" href="/images/apple-touch-icon.png")
        link(rel="apple-touch-startup-image" href="/images/iphone12-portrait.png" media="(device-width: 390px) and (orientation: portrait)")
        link(rel="apple-touch-startup-image" href="/images/iphone12-landscape.png" media="(device-width: 390px) and (orientation: landscape)")
        link(rel="apple-touch-startup-image" href="/images/ipad-portrait.png" media="(device-width: 744px) and (orientation: portrait)")
        link(rel="apple-touch-startup-image" href="/images/ipad-landscape.png" media="(device-width: 744px) and (orientation: landscape)")
    body
        nav
            a(href="/") 홈
            if loggedIn
                a(href="/logout") 로그아웃
                a(href="/my-profile") #{loggedInUser.nickname}의 프로필
            else
                a(href="/join") 회원가입
                a(href="/login") 로그인
        main 
            block content
        include partials/footer
    script(src="/static/js/main.js")
    block scripts