extends base

block content
    form(method="POST")
        span 해낼 일
        input(type="text", placeholder="1.")
        input(type="text", placeholder="2.")
        input(type="text", placeholder="3.")
        input(type="text", placeholder="4.")
        input(type="text", placeholder="5.")
        input(type="submit" value="저장하기")
    form(method="POST")
        span 할 일 쪼개기
        input(type="text", placeholder="1.")
        input(type="text", placeholder="2.")
        input(type="text", placeholder="3.")
        input(type="text", placeholder="4.")
        input(type="text", placeholder="5.")
        input(type="submit" value="저장하기")